.spotlistblock
{
  display: flex;
  flex-flow: column nowrap;
  max-width: 400px;
  width: 30%;
  background: $color-grey-2;
  border-radius: 25px;
  margin: 5px;

  a{
    text-decoration: none;
    &:hover .header{
      background-color: $color-blue-2;
    }
  }

  svg{
    transform: scale(0.7);
  }
  .header
  {    
    transition: 0.2s;
    margin: 10px;
    background: $profile-grey-3;
    border-radius: 26px;

    .title
    {
      text-align: center;
      font-size: 20px;
      color: $color-grey-3;
    }
    .id
    {
      text-align: center;
      color: $color-grey-3;
    }
  }
  .body
  {
    height: 100%;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: auto 10px 10px 10px;
    background: $profile-grey-3;
    border-radius: 26px;
    .line
    {
      padding: 5px 5px 0 5px;
      display: flex;
      justify-content:center;
      align-items: center;
      .text
      {
        margin: 5px;
        font-size: 16px;
        text-align: center;
        color: $color-grey-3;
      }

     
    }
    .icon-panel
    {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin:5px;
      padding: 5px 8px;
      width:fit-content;
      background: $progile-grey-2;
      border-radius: 40px;
    }
  }
}