.userprofile-body {
  font-family: 'Ubuntu', sans-serif;
  background: $color-grey-2;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 25px;
  color: $profile-white-1;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;

  .userprofile-topblock {
    display: flex;

    .userprofile-leftblock {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      flex-grow: 1;
      .userprofile-avatar {
        margin: 5px;
        width: 200px;
        height: 200px;
        border-radius: 15px;
        background-image: url(/images/noava.jpg);
        background-size: 100% 100%;
      }
    }
    .userprofile-rightblock {
      margin-left: 5px;
      width: 100%;
      display: flex;
      flex-direction: column;

      .rightblock-Name {
        margin-top: 20px;
        font-size: 25px;

        a {
          font-size: 16px;
          float: right;
          text-decoration: none;
          color: $color-blue-1;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .rightblock-playerid {
        font-size: 14px;
      }

      .user-info {
        margin-top: 10px;
        padding: 0 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .info-item {
          margin: 5px 0;
          font-size: 16px;
          width: 100%;

          span {
            float: right;
          }

          .icons {
            transform: scale(0.7);

            svg {
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
  .rating-row {
    display: flex;
    width: 100%;

    .edit-buttons {
      display: flex;
      flex-direction: column;

      .userprofile-graybutton {
        padding: 0;
        margin: 5px;
        width: 200px;
        height: 45px;
        background: $color-grey-3;
        border-radius: 15px;
        border: none;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.05) translateY(-3px);
          box-shadow: 0 2px 5px $color-grey-1;
        }

        .text {
          width: 100%;
          font-size: 14px;
          color: $profile-white-1;
        }
      }
    }

    .rating {
      margin: 5px;
      width: 100%;
      height: 110px;
      .rightblock-playerrating {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-grey-3;
        border-radius: 15px 15px 0px 0px;
      }
      .playerrating-blocks {
        display: flex;
        .block {
          display: flex;
          justify-content: space-between;
          width: 55%;
          height: 50px;
          background: $profile-grey-1;
          border-radius: 0px 0px 15px 15px;
          position: relative;
          .dark-block {
            width: 50%;
            height: 50px;
            background: $progile-grey-2;
            border-radius: 0px 0px 15px 15px;
          }
          .rating-icon {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            margin: auto auto auto 8px;
            left: 0;
            transform: scale(0.8);
          }
          .text {
            color: $color-grey-3;
            margin: auto 8px auto 0;
            text-align: right;
          }
        }
      }
    }
  }

  .team-butt {
    height: 25px;
    width: 310px;
    margin: 0 auto;
    padding: 0 10px;
    background: $profile-grey-3;
    border-radius: 5px;
    color: $color-grey-3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: scale(1.05) translateY(-3px);
      box-shadow: 0 2px 5px $color-grey-1;
    }
  }
  .userprofile-buttonsblock {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .button {
      margin: 0;
      width: 150px;
      height: 50px;
      padding: 0 10px;
      background: $profile-grey-3;
      border-radius: 10px;
      color: $color-grey-3;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: none;
      font-size: 14px;
      cursor: pointer;
      transition: 0.2s;

      &:nth-child(2){
        margin-left: 10px
      }

      &:hover {
        transform: scale(1.05) translateY(-3px);
        box-shadow: 0 2px 5px $color-grey-1;
      }

      svg {
        transform: scale(0.7);
      }
    }
  }
}
