$color-blue-0: #51A0C3;
$color-blue-1: #a1c4fd;
$color-blue-2: #c2e9fb;
$color-blue-3: #d2f0ff;

$color-grey-1: #2b3135;
$color-grey-2: #3e434b;
$color-grey-3: #414b50;
$color-grey-4: #979797;
$color-grey-5: #fafafa;




$profile-grey-1:#6F8088;
$progile-grey-2:#59676E;
$profile-grey-3:#B2CAD6;
$profile-white-1:white;